{% extends "_layout" %}
{% block page %}


	<div id="shop">
				<div class="left">
					{% set tags = ['Topaz', 'Karelain'] %}
					<ul>

							 <li><a href="/shop">All</a></li>
					    {% for tag in tags %}
					        <li><a href="/{{ tag }}">{{ tag }}</a></li>
					    {% endfor %}
					</ul>
				</div>
			</div>


<div class="shop">

	<div id="listing">
		<div class="three">
			{% for items in craft.entries.find({section: 'shop'}) %}

				{% set tags = ['topaz', 'Karelain'] %}


				{% for tagTitle in items.collectionTag %}
						
						{% if tagTitle.name == tags[1] %}

								<div class="item">
									<a data-pjax href="{{ items.url }}">
										{% for image in items.productThumbnail %}
										<img src="{{ image.getUrl('shopThumbnail') }}" alt="Product Image">
										{% endfor %}
									</a>
									<li>{{ items.title }}</li>
									<li>{{ items.collectionName }}</li>
									<li>&#8364;{{ items.price }}</li>

					
										
								</div>


						{% endif %}

				{% endfor %}

			{% endfor %}

		</div>
	</div>

</div>

{% endblock %}