	<div id="nav">
		<nav>
			<a id="logo" href="/"></a>
			<ul id="menu">
				<li><a class="name" data-pjax="" href="/">Bl&aacute;ith&iacute;n Ennis</a></li>
				<li class="heading"><a class="noMobLink" data-pjax="" href="/" class="active">Profile</a>	
			<ul>
						<li><a data-pjax="" href="{{ siteUrl }}about">About</a></li>
						<li><a data-pjax="" href="{{ siteUrl }}contact">Contact</a></li>
					</ul>
				</li>
				<li class="heading"><a href="{{ siteUrl }}#">Work</a>
					<ul>
						<li><a data-pjax="" href="{{ siteUrl }}collections">Collections</a></li>
						<li><a data-pjax="" href="{{ siteUrl }}stockists">Stockists</a></li>
						<li><a data-pjax="" href="{{ siteUrl }}press">Press</a></li>
					</ul>
				</li>
				<li><a data-pjax="" href="{{ siteUrl }}shop">Shop</a></li>

				<a target="_blank" href="http://instagram.com/blaithinennis/">
					<li class="pull-right mob-hidden instagram"></li>
				</a>

				<a target="_blank" href="https://twitter.com/BlaithinEnnis">
					<li class="pull-right mob-hidden twitter"></li>
				</a>
					
				<a target="_blank" href="https://www.facebook.com/pages/Bl%C3%A1ith%C3%ADn-Ennis/146314595519156">
					<li class="pull-right mob-hidden facebook"></li>
				</a>

					
					
			</ul>
		</nav>
	</div>
	