	<div id="nav">
		<nav>
			<a id="logo" href="/"></a>
			<ul id="menu">
				<li><a class="name" data-pjax="" href="/">Bl&aacute;ith&iacute;n Ennis</a></li>
				<li class="heading"><a class="noMobLink" data-pjax="" href="/" class="active">Profile</a>	
			<ul>
						<li><a data-pjax="" href="http://blobs/about">About</a></li>
						<li><a data-pjax="" href="http://blobs/contact">Contact</a></li>
					</ul>
				</li>
				<li class="heading"><a href="http://blobs/#">Work</a>
					<ul>
						<li><a data-pjax="" href="http://blobs/collections">Collections</a></li>
						<li><a data-pjax="" href="http://blobs/stockists">Stockists</a></li>
						<li><a data-pjax="" href="http://blobs/press">Press</a></li>
					</ul>
				</li>
				<li><a data-pjax="" href="http://blobs/shop">Shop</a></li>
			
				<a target="_blank" href="https://twitter.com/BlaithinEnnis"><li class="pull-right mob-hidden twitter">
		</li></a>

	

					<a target="_blank" href="https://www.facebook.com/pages/Bl%C3%A1ith%C3%ADn-Ennis/146314595519156"><li class="pull-right mob-hidden facebook"></li></a>
					
			</ul>
		</nav>
	</div>
	