{% extends "_layout" %}

{% block page %}

	<div class="contact">

			<div id="contact">
			
					<div class="left">
							<h2>Contact</h2>
						</div>
						<div class="right">

							<h3>{{ entry.pageIntro }}</h3>

							

								
									<div class="text">
										<h4 style="padding-bottom: 12px;">Bláithín Ennis</h4>
										<p><a href=mailto:"{{ entry.blobsEmail }}">{{ entry.blobsEmail }}</a><br><a href="tel:{{ entry.blobsNumber }}">{{ entry.blobsNumber }}</a></p>
										{{ entry.infoText }}
										<p>{{ entry.assistantsName }}<br>{{ entry.orderEmail }}<br>{{ entry.orderNumber }}</p>
										<p>Our office hours 9.30–6pm Monday : Saturday</p>
									</div>
								

							
						</div>
			
			</div>

	</div>

{% endblock %}
