{% extends "_layout" %}

{% block page %}

	<div class="home">
			<div id="slider" class="swipe">
				<div class="swipe-wrap">
					{% for slide in entry.sliderImages %}			
						<div>
							<img src="{{ slide.url }}" alt="">	
							<div class="slider-text">	
								{{ slide.sliderCaption }}	
								{% if slide.sliderLink == true %}
									<a href="{{ slide.sliderLink }}">Read more</a>
								{% endif %}
							</div>
						</div>
					{% endfor %}	
				</div>
				<div class="prev" onclick="mySwipe.prev()"></div>
				<div class="next" onclick="mySwipe.next()"></div>
			</div>

			<div id="about">
				<div class="left">
					<h2>About</h2>
					{% for image in entry.imageThree %}
						<img src="{{ image.url }}" class="first" alt="">
					{% endfor %}
						{% for image in entry.imageTwo %}
						<img src="{{ image.url }}" class="second" alt="">
					{% endfor %}
				</div>
				<div class="right">
					<h3>{{ entry.pageIntro }}</h3>
					{% for image in entry.imageOne %}
						<img src="{{ image.url }}" class="third" alt="">
					{% endfor %}
					<div class="text">
						{{ entry.body }}
					</div>
				</div>
			</div>

			<div id="contact">
	
					<div class="left">
							<h2>Contact</h2>
						</div>
						<div class="right">
							
								<div class="text">
									{{ entry.infoText }}
									<p><a href="mailto:{{ entry.blobsEmail }}">{{ entry.blobsEmail }}</a><br><a href="tel:{{ entry.blobsNumber }}">{{ entry.blobsNumber }}</a></p>
								</div>
							
						</div>
			
			</div>
			
	</div>

{% endblock %}
