{% extends "_layout" %}
{% block page %}


		<div id="shop">
			
				{% include '_tags.html' %}

		</div>


<div class="shop">



	<div id="listing">
		<div class="three">
			{% for items in craft.entries.find({section: 'shop'}) %}

				{% set tags = ['topaz', 'karelain'] %}


				{% for tagTitle in items.collectionTag %}
						
						{% if tagTitle.name == tags[0] %}

								<div class="item">
									<a data-pjax href="{{ items.url }}">
										{% for image in items.productThumbnail %}
										<img src="{{ image.getUrl('shopThumbnail') }}" alt="Product Image">
										{% endfor %}
									</a>
									<li>{{ items.title }}</li>
									<li>{{ items.collectionName }}</li>
									<li>&#8364;{{ items.price }}</li>
										
								</div>


						{% endif %}

				{% endfor %}

			{% endfor %}

		</div>
	</div>

</div>

{% endblock %}